.axis {
  pointer-events: none;

  .line {
    stroke: @ungrey;
    opacity: 0.3;
  }

  .number {
    font-size: 14px;
    fill: @unblue;
    @media (max-width: 1050px) {
      font-size: 12px;
    }
  }

  .max {
    font-size: 11px;
    fill: @ungrey;
  }

  .name {
    font-size: 12px;
    fill: @undarkgray;
  }

  //helpers
  .left {
    text-anchor: start;
  }

  .right {
    text-anchor: end;
  }
}

.donut {
  fill: @lightblue;
  pointer-events: none;
}

.donut-label {
  font-weight: bold;
  pointer-events: none;
  text-anchor: middle;
  font-size: 16px;
  fill: hsl(205, 100%, 20%);
}

.slice {
  cursor: zoom-in;
  fill: white;
}

.slice:hover {
  fill: @lightblue;
  opacity: 0.4;
}

.slice.selected {
  fill: hsl(208, 100%, 95%);
  opacity: 0.6;
  stroke: hsl(208, 50%, 87%);
}

.axis.selected {
  font-weight: bold;

  .number {
    fill: @unblue;
  }
  .name {
    fill: black;
  }
}

.center {
  position: absolute;
  border: 1px solid #ebeae6;
  border-radius: 50%;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: center;
  overflow: hidden;

  .content {
    display: flex;
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;
    gap: 8px;
    justify-content: center;
    align-items: flex-start;

    @media (max-width: 1100px) {
      padding: 12px;
    }

    .focus {
      font-weight: bold;
      font-size: 16px;
      display: flex;
      gap: 4px;
      align-items: center;
      // margin-left: 16px;

      .dot {
        height: 16px;
        width: 16px;
        min-height: 16px;
        min-width: 16px;
        border-radius: 50%;
        display: inline-block;
      }
    }

    .comparison1 {
      font-size: 14px;
      display: flex;
      gap: 4px;
      align-items: center;
      line-height: 140%;
      // margin-left: 16px;
    }
    .comparison2 {
      font-size: 14px;
      display: flex;
      gap: 4px;
      align-items: center;
      line-height: 140%;
      // margin-left: 16px;
    }

    .comparison2::before {
      content: "";
      display: inline-block;
      width: 3px;
      height: 3px;
      background-color: @undarkgray;
      position: absolute;
      margin-left: 4.5px;
      border-radius: 50%;
    }

    .dot {
      height: 8px;
      width: 8px;
      min-height: 8px;
      min-width: 8px;
      border-radius: 50%;
      display: inline-block;
    }
  }
}

.tooltip {
  position: absolute;
  background-color: white;
  border-radius: 4px;
  font-size: 12px;
  padding: 8px 12px;
  border: 1px solid #ededed;
  border-radius: 8px;
  z-index: 100;
  filter: drop-shadow(0 0 0.75rem #ededed);
  margin-left: 4px;
  margin-top: 4px;

  .title {
    font-size: 16px;
    margin: 4px;
  }

  .kpi {
    font-size: 18px;
    margin: 4px;
  }

  hr {
    background-color: none;
    border: 0.5px solid @ungrey;
    opacity: 0.5;
  }

  button {
    background-color: white;
    border: none;
    cursor: pointer;
    text-align: left;
    color: @undarkgray;
    display: flex;
    flex-wrap: wrap;
  }
}
.radial_circle {
  cursor: pointer;
}
.radial_circle:hover {
  stroke: black;
}
